body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  display: flex;
  justify-content: center;
}

.app-component {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
}

.button {
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid black;
}

.button--blue {
  background-color: blue;
  color: white;
  border-color: blue;
}

.button--purple {
  background-color: purple;
  color: white;
  border-color: purple;
}
